<h1>Artists</h1>
<main>
    <p>
        Input an artist's name.
    </p>
    <form action="/artists" method="POST">
        <label for="artistName-input">
            <input type="text" name="artistName" placeholder="Artist's Name" id="artistName-input" value="{{artistData.artistName}}">
        </label><br>
        <br><button type="submit">Search</button><br>
    </form>
    <br>
    {{#if hasErrors}}
    <p class="error">
        {{#each errors}}
            {{this}}
        {{/each}}
    </p>
    {{/if}}
</main>