<h1>Artist Found</h1>
<h2>{{artist.details.name}}</h2>
<main>
    <dl>
        <dt>ID</dt>
        <dd>{{artist._id}}</dd>
        <dt>Name</dt>
        <dd>{{artist.details.name}}</dd>
        <dt>Genre</dt>
        <dd>{{artist.details.genre}}</dd>
    </dl>
    <br>
    <a href="/artists">Make another search</a>
</main>