<main>
    <div class="nav">
        <a class="login" href="/login">login</a>
        <a class="login" href="/signup">signup</a>
        <a class="login" href="/artists">artists</a>
    </div>
    <h1>Blank</h1>
</main>