<main>
   <div class="nav">
    <a class="login" href="/artists">artists</a>
    <a class="login" href="/concerts">concerts</a>
    <a class="login" href="/logout">logout</a>
  </div>
    <h1>Discover Your Concerts!</h1>
</main>