html,
body {
  font-size: 14pt;
}

body {
  background: #f2f2e8;
  font-family: Impact, Cambria, "Times New Roman", Times, serif;
}

main {
  max-width: 75%;
  margin: auto;
}

header {
  border-bottom: 1px solid #bd5959;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ef562f;
  margin-bottom: 5px;
}

h1 {
  font-size: 4rem;
  -webkit-text-stroke: 1px black;
}

h3 {
  -webkit-text-stroke: 1px black;
}

p {
  font-size: 1rem;
  line-height: 2;
}

a {
 font-size: 1rem;
 border-bottom: 3px solid black;
 border-top: 3px solid black;
}

li a {
  border: none;
}



/* Add a black background color to the top navigation */


.nav {
  background-color: #333;
  overflow: hidden;
}


/* Style the links inside the navigation bar */


.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}


/* Change the color of links on hover */


.nav a:hover {
  background-color: #ddd;
  color: black;
}

.button {
  background-color: sandybrown; /* Green */
  border: 3px 3px 3px 3px black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 12pt;
}

#wrapper {
  position: absolute;
  top: 30%;
  left: 30%;
  margin-top: 0%;
  margin-left: 0%;
  width: 60%;
  height: 30%;
}

.main {
  width: 60%;
  display: inline-block;
}

#title {
  color: #ef562f;
  font-size: 1.8rem;
}

.radios {
  width: 20%;
  display: inline-block;
}

 /* Customize the label (the container) */
 .container {
  display: block;
  position: relative;
  padding-left: 20%;
  margin-bottom: 10%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #b6b7b5;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ef866b;
}
/* When the radio button is checked, add a background */
.container input:checked ~ .checkmark {
  background-color: #ef562f;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

#artistSearchWrapper,#concertSearchWrapper {
  position: absolute;
  top: 20%;
  left: 40%;
  margin-top: 0%;
  margin-left: 0%;
  width: 60%;
  height: 30%;
}

#artistResultWrapper,#concertResultWrapper {
  position: absolute;
  top: 5%;
  left: 35%;
  margin-top: 0%;
  margin-left: 0%;
  width: 60%;
  height: 30%;
}





.like-button {
  display: inline-grid;
  position: relative;
  font-size: 32px;
  cursor: pointer;
}

.like-button::before {
  font-size: 3em;
  color: #000;
  content: '♥';
  position: absolute;
  transform: translate(-50%, -50%);
}
.like-button::after {
  font-size: 3em;
  color: #ff3252;
  content: '♥';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s;
}
.like-button.liked::after {
  transform: translate(-50%, -50%) scale(1.1);
}




#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}