<div class="nav">
    <a class="login" href="/login">login</a>
    <a class="login" href="/signup">signup</a>
</div>
<main>
    <div>
        <form action="/login" method="post">
            <h1> Login Form </h1>
            <input type="email" name="email" id="email" placeholder="E-Mail " required /><br>
            <input type="password" name="password" id="password" placeholder="Password " required /><br>
            <br>
            <button type="submit" class="button">Submit</button>
        </form>
    </div>

    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</main>