<main>
    <div class="nav">
        <a class="login" href="/login">login</a>
        <a class="login" href="/signup">signup</a>
        <a class="login" href="/artists">artists</a>
    </div>

    <div>
        <form action="/signup" method="post">
            <h1> Signup Form </h1>
            <input type="text" name="firstName" id="firstName" placeholder="First Name" required /><br>
            <input type="text" name="lastName" id="lastName" placeholder="Last Name" required /><br>
            <input type="email" name="email" id="email" placeholder="E-Mail " required /><br>
            <input type="password" name="password" id="password" placeholder="Password " required /><br>
            <br>
            <button type="submit" class="button">Submit</button>
        </form>
    </div>

    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</main>