<div class="nav">
    <a class="login" href="/">home</a>
    <a class="login" href="/concerts">concerts</a>
    <a class="login" href="/profile">profile</a>
    <a class="login" href="/logout">logout</a>
</div>
<main>
    <div id="artistSearchWrapper">
        <h1>Artists</h1>
        <p>
            Input an artist's name.
        </p>
        <form action="/artists" method="POST">
            <label for="artistName-input">
                <input type="text" name="artistName" placeholder="Artist's Name" id="artistName-input"
                    value="{{artistData.artistName}}">
            </label>
            <button type="submit">Search</button><br>
        </form>
        <br>
        {{#if recommendations.length}}
        <h3>Recommended Artists:</h3>
        <ul>
            {{#each recommendations}}
                <li><a href="/artists/details/{{this._id}}">{{this.details.name}}</a></li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</main>