<div class="nav">
    <a class="login" href="/artists">artists</a>
    <a class="login" href="/concerts">concerts</a>
    <a class="login" href="/logout">logout</a>
</div>
<main>
    <h1>Artist Found</h1>
    <h2>{{artist.details.name}}</h2>
    <dl>
        <dt>Genre</dt><br>
        <dd>{{artist.details.genre}}</dd><br>
        <dt>Website</dt><br>
        <dd><a href="{{artist.details.website}}">{{artist.details.website}}</a></dd>
    </dl>
    <br>
    <a href="/artists">Make another search</a>
</main>